* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* #main{
    
} */

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav .subnav {
    list-style: none;
}

#nav {
    display: inline-block;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px 0 24px;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 170px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#nav .subnav a {
    color: black;
    padding: 0 12px 0 12px;
    line-height: 38px;

}

#nav .subnav a:hover {
    color: black;
    background-color: #ccc;
    display: block;
}

#header .search {
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    margin-top: 46px;
    padding-top: 60%;
    /*giúp cho slider lấy chiều cao =50% chiều ngang của chính nó */
    /* background: url('/container/images/dd.jpg') center / cover no-repeat;   */
    background: url('../images/dd.jpg') center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* color: red; */
    color: rgb(255, 16, 16);
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 9px 9px 9px 9px;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 30px;
    color: red;
}

#slider .text-description {
    font-size: 18px;
    margin-top: 14px;
    color: red;
}

/* #content{

} */

#content .section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
}

.subheading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.6;

}

#content .about {
    text-align: justify;
    line-height: 1.6;
    /* chỉnh khoảng cách giữa các dòng */
    color: black;

}

.members-list {
    margin-top: 48px;
}

#content .member-item1 {
    float: left;
    width: 33.333333%;
    /* display: inline-block; */
}

#content .member-item2 {
    float: left;
    width: 33.333333%;
    /* display: inline-block; */
}

#content .member-item3 {
    float: left;
    width: 33.333333%;
    /* display: inline-block; */
}

.member-name {
    transform: translateX(55px);
    font-size: 15px;
    color: black;
}

.member-img {
    margin-top: 15px;
    border-radius: 4px;
    margin-left: 50px;
}

.clear {
    clear: both;
}

.tour {
    background-color: #000;

}

.heading,
.subheading {
    color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;

}

.sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.sell {
    float: right;
    width: 20px;
    height: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-top: 0px;
    /* có float thì nên dùng margin có số là số âm */
}

.place-list {
    margin-top: 32px;
    padding-bottom: 48px;
}

.place-item {
    float: left;
    width: 33.33333%;
    /* padding: 0 8px; */

}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 18px;
}

.place-buy:hover {
    background-color: #ccc;
    color: #000;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}

.col-3 {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.contact-content {
    margin-top: 48px;

}

.contain {
    color: black;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}


/* selecter nang cao */
.contact-info i[class*="ti-"] {
    width: 30px;

    display: inline-block;

}

/* .contact-info p{
    margin-left: 20px;
} */

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.form-submit {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

.form-submit:hover {
    color: #000;
    background-color: #757575;
    cursor: pointer;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    background-color: white;
}

.social {
    font-size: 24px;
}

.social a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.social a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copy-right {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copy-right a {
    color: wheat;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

#footer .copy-right a:hover {
    color: rgba(0, 0, 0, 0.4);
}